.slickSlide {
  max-width: 228px;
  margin: 0 12px;
}

.boxSlider h3 {
  color: black;
  padding: 5px 10px;
}

.slickSlide img {
  border-radius: 24px;
}

.slickSlide:hover img {
  filter: brightness(1.01);
  transition: 1s;
}

.boxSlider {
  position: relative;
  display: flex !important;
  justify-content: center !important;
  padding: 50px 20px;
}

.boxSlider h3 {
  position: absolute;
  top: 20%;

  font-size: 16px;

  text-transform: uppercase;
  text-align: center;

  opacity: 0;
  transition: opacity 0.9s ease;
  max-width: 240px;
  color: aliceblue;
}

.boxSlider:hover h3 {
  opacity: 1;
}
.boxSlider:hover img {
  opacity: 0.4;
  transform: scale(1.01);
  transition: 0.9s ease-in;
}

@media (max-width: 991px) {
  .boxSlider h3 {
    opacity: 1;
  }
  .boxSlider img {
    opacity: 0.4;
  }
  .boxSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sliderMain {
    max-width: 250px;
  }
}
