.slickSlide {
  max-width: 228px;
  margin: 0 12px;
}

.boxSlider h3 {
  color: black;
}

.slickSlide img {
  border-radius: 24px;
}

.slickSlide:hover img {
  filter: brightness(1.01);
  transition: 1s;
}

.boxSlider {
  position: relative;
}

.boxSlider h3 {
  position: absolute;
  top: 20%;
  left: 5px;
  font-size: 16px;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  text-align: center;

  opacity: 0;
  transition: opacity 0.9s ease;
  max-width: 240px;
  color: aliceblue;
}

.boxSlider:hover h3 {
  opacity: 1;
}
.boxSlider:hover img {
  opacity: 0.4;
  transform: scale(1.01);
  transition: 0.9s ease-in;
}

@media (max-width: 991px) {
  .slickDots li button:before {
    content: "-";
    color: aliceblue;
  }
  .boxSlider h3 {
    opacity: 1;
  }
  .boxSlider img {
    opacity: 0.4;
  }
}
